body {
    font-family: helvetica, 'Times New Roman', serif;
    background-color: #ffedfb;
    margin-left: 10px;
}

.cookies {
    display: block;
    margin: auto;
}

a {
    color: rgb(231, 0, 0);
}

h1 {
    n font-size: 45px;
}