body {
    font-family: helvetica, 'Times New Roman', serif;
    background-color: #ffedfb;
    margin-left: 0.1;
}

.lasagna {
    display: block;
    margin: auto;
}

a {

    /*padding-left: 50px;
    padding-right: 50px;
    font-size: 45px;*/
    color: rgb(231, 0, 0);
    /*font-weight: bold;*/
}

h1 {
    font-size: 45px;
}