* {
    font-family: helvetica, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.logo {
    color: hotpink;
    text-align: center;
    font-size: 130px;
}

.links {
    background: #f2a5ad80;
    height: 100px;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    margin: -10px;
    border: 6px solid hotpink;
}

.links .list {

    display: inline-block;
}

.links .recipes {
    margin: 5px;
    padding: 10px;
    font-size: 45px;
    color: #000000;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 26px;
        padding: 3px
    }

    .links {
        height: 70px;
        font-size: 25px;
    }

    .links .recipes {
        font-size: 17px;
        margin: 1px;
        padding: 4px;
    }
}


@media screen and (min-width: 600px) {
    .logo {
        font-size: 30px;
        padding: 3px
    }

    .links {
        height: 70px;
        font-size: 25px;
    }

    .links .recipes {
        font-size: 20px;
        margin: 1px;
        padding: 4px;
    }
}