body {
    font-family: helvetica, 'Times New Roman', serif;
    background-image: url(milkshake.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}



h1 {

    text-align: center;
    font-size: 130px;
}

ul {
    background: #f2a5ad80;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1, 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 40px;
    padding-bottom: 40px;
}

ul a {

    padding-left: 50px;
    padding-right: 50px;
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}



@media only screen and (max-width: 600px) {

    h1 {
        font-size: 20px;
    }

    ul {
        padding-top: 0px;
        padding-bottom: 0px;
    }



    ul a {

        padding-left: 1px;
        padding-right: 30px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {

    h1 {
        font-size: 50px;
    }

    ul {
        padding-top: 0px;
        padding-bottom: 0px;
    }


    ul a {
        padding-left: 1px;
        padding-right: 30px;
        font-size: 30px;
    }
}